/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2018, 3:14:04 PM
    Author     : Norm

Berkshire Swash
*/



@import url('https://fonts.googleapis.com/css?family=Stalemate');
@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');

/*<link href="https://fonts.googleapis.com/css?family=Euphoria+Script" rel="stylesheet">*/

body {
  /*font-family: 'Euphoria Script', cursive;*/
  /*font-family: sans-serif;*/
  text-align: center;
  margin: 0 auto;
}

#banner {
  display: flex;
  background-image: url("../images/home_image.jpg");
  /*background-color: lightblue;*/
  background-size: cover;
  background-position: bottom center;
  height: 600px;
  width: 100%;
  justify-content: center;
  /*align-items: center;*/
}


#banner .content {
  padding-top: 25px;
}

#banner .content h1 {
  position: relative;
  font-family: Stalemate;
/*  justify-content: center;
  align-content: center;
  align-items: center;*/
  border: 2px solid white;
  border-style: dashed;
  /*padding-top: 25px;*/
  /*padding: 10px;*/
  padding: 10px 0 10px 0;
  top: 350px;
  width: 500px;
  margin: auto;
}


h1 {
  color: white;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
}



#tagline {
  font-family: 'Euphoria Script', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.link-container {
  font-family: 'Euphoria Script', cursive;
}


.nav { 
  background: lightblue;
  background-size: cover;
  height: 70px; 
  width: 100%;
  /*margin: auto;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav ul {
  width: 400px;
  padding-right: 40px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav ul li {
  
  padding-top: 15px;
  /*color: white;*/
  /*display: inline-block;*/
  /*height: 70px;*/
  /*line-height: 50px;*/ 
  /*list-style: none;*/
  /*transition: background .5s;*/ 
  font-weight: bold;
  font-size: 20px;
}

.link-container {
  font-family: 'Euphoria Script', cursive;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  flex-flow: wrap;
  /*background-color: lightseagreen;*/
}

.menu-and-image {
  display: flex;
  /*margin: auto;*/
/*//  height: 700px;*/
  width: 900px;
  /*flex-wrap: wrap;*/
  /*height: 400px;*/
  flex-direction: row;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: flex-start;
  /*background-color: whitesmoke;*/
  justify-content: center;
  /*padding-top: 50px;*/
  padding-top: 10px;
}

.home-decor {
  display: flex;
  /*margin: auto;*/
/*//  height: 700px;*/
  width: 900px;
  /*flex-wrap: wrap;*/
  /*height: 400px;*/
  flex-direction: column;
  /*flex-direction: column;*/
  justify-content: flex-start;
  align-items: center;
  /*background-color: lightgray;*/
  justify-content: center;
  /*padding-top: 50px;*/
  
}

/*@media screen and (min-width: 900px) {
  menu-and-image {
    background-color: lightblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}*/

.menu-block {
  /*background-color: lightgray;*/
  /*height: 225px;*/
  width: 150px;
  height: 100%;
/*  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;*/
  
}

.home-decor {
  /*align-self: column;*/
  /*background-color: pink;*/
}

.image-block {
  /*margin: auto;*/
  /*flex: 2;*/
  /*top: 5px;*/
/*  flex-order: 1;*/
  /*background-color: lightpink;*/
  /*width: 20%;*/
  /*height: 100%;*/
}

img {
  /*width: 350;*/
  /*height: 325px;*/
  height: 70%;
} 

.small {
  width: 200px;
  height: 200px;
}


.icon-button {
  /*font-family: Ephoria; sans-serif;*/
  padding: 10px;
  /*position: relative;*/
  font-weight: bold;
  font-size: 25px;
  /*    align-items: center;
      text-align: center;
      justify-content: center;
      align-content: center;*/
  /*border: 5px;*/
  /*border-color: black;*/
}

.home-decor .icon-button {
  /*align-self: flex-start;*/
  font-family: Ephoria; /*sans-serif;*/
  /*padding: 10px;*/
  /*position: relative;*/
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  /*border: 3px solid black;*/
}

.shopping-blocks-container {
  display: flex;
  width: auto;
  justify-content: center;
}

.shopping-blocks {
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*    width: 200px;*/
  background-color: lightyellow;
  /*padding: 25px;*/
  margin: 5px;
  /*justify-content: center;*/
  width: 200px;
  justify-content: space-between;
}

.shopping-blocks p {
  font-size: 20px;
}