/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2018, 3:14:04 PM
    Author     : Norm

Berkshire Swash
*/



@import url('https://fonts.googleapis.com/css?family=Berkshire-Swash');

body {
    font-family: Berkshire Swash;
    text-align: center;
    margin: 0 auto;
}



.title-container {
    background-image: url("../images/Image1.jpg");
    background-color: lightgray;
    background-position: bottom center;
    background-size: cover;
    height: 400px;
    width: 80%;
    text-align: center;
    border: 5px;
    border-color: black;
    margin: 50px;
    z-index: 1;
}

.inner-box {
    position: relative;
    text-align: center;
    border: 5px;
    border-color: black;
    background-color: lightblue;
    top: 150px;
    width: 200px;
    margin: 0 auto;
    font-size: 25px;
}

#tagline {
    /*font-family: sans-serif;*/
    font-weight: bold;
    text-align: center;
}

.link-container {
}


.nav { 
  background: red;
  height: 60px; 
  width: 100%;
}

.nav ul {
  height: 60px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 60px;
  line-height: 60px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
  font-weight: bold;
  font-size: 20px;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-and-image {
    display: flex;
    justify-content: center;
    align-content: center;
    /*margin: auto;*/
    height: 200px;
    width: 450px;
    background-color: lightgray;
    border-width: 5px;
    border-color: black;
    padding: 5px;
    border-style: outset
}

.menu-block {
    margin: auto;
    flex: 1;
    border-color: black;
    /*background-color: pink;*/
    padding: 5px;
}

.image-block {
    /*position: relative;*/
/*    align-content: center;*/
/*    height: auto;*/
/*    weight: auto;*/
    margin: auto;
    flex: 2;
    top: 5px
}

img {
    width: 200;
    height: 200px;
} 

.small {
    width: 100px;
    height: 100px;
}

.product-image img {
    width: 100px;
    height: 100px;
   
}

.icon-button {
    /*padding: 10px;*/
    position: relative;
    font-family: Berkshire Swash;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 5px;
    border-color: black;
}

.shopping-blocks-container {
    display: flex;

}

.shopping-blocks {
    flex-direction: row;
    align-items: center;
    
}