

 
 @@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');
 body {
	- font-family: Euphoria+Script; +;
	
	font-family: serif;
	text-align: left;
	margin: 0 auto;
}
@@ -33,6 +33,7 @@ body {
 }
 
 #banner .content h1 {
+  font-family: Euphoria+Script;
   justify-content: center;
   align-content: center;
   align-items: center;
@@ -57,7 +58,7 @@ h1 {
 #tagline {
   font-weight: bold;
   text-align: center;
-  font-size: 50px;
+  font-size: 30px;
 }
 
 .link-container {
@@ -70,35 +71,40 @@ h1 {
   height: 70px; 
   width: 100%;
   /*margin: auto;*/
+  display: flex;
+  flex-direction: row;
+  justify-content: center;
+  align-items: center;
 }
 
 .nav ul {
-  /*height: 70px;*/
+  width: 400px;
+  padding-right: 40px;
   list-style: none;
-  /*margin: 0 auto;*/ 
-  /*padding: 10;*/
-  /*list-style: none;*/
-  margin: 0 auto; 
-  /*padding: 0;*/
+  display: flex;
+  justify-content: space-around;
+  align-items: center;
 }
 
 .nav ul li {
-  padding: 15px;
-  color: white;
-  display: inline-block;
+  
+  padding-top: 15px;
+  /*color: white;*/
+  /*display: inline-block;*/
   /*height: 70px;*/
-  line-height: 50px; 
+  /*line-height: 50px;*/ 
   /*list-style: none;*/
   /*transition: background .5s;*/ 
   font-weight: bold;
-  font-size: 35px;
+  font-size: 20px;
 }
 
 .link-container {
+  width: 100%;
   display: flex;
   flex-direction: column;
-  justify-content: flex-start;
-  align-items: center;
+  justify-content: center;
+  align-items: flex-start;
   flex-flow: wrap;
 }
 
@@ -154,11 +160,11 @@ img {
 
 .icon-button {
-  font-family: Stalemate;
+  font-family: sans-serif;
   /*padding: 10px;*/
   /*position: relative;*/
   font-weight: bold;
-  font-size: 40px;
+  font-size: 25px;
   /*    align-items: center;
       text-align: center;
       justify-content: center;
@@ -186,5 +192,5 @@ img {
 }
 
 .shopping-blocks p {
-  font-size: 35px;
+  font-size: 20px;
 } 